@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise:wght@200;300;400;500;600;700;900&family=Noto+Serif:wght@200;300;400;500;600;700;900&display=swap');
/* 
font-family: 'Monsieur La Doulaise', cursive;
font-family: 'Noto Serif', serif;
*/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1050px;
  margin: 30px;
  display: flex;
  background-color: #1f1629;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 30px;
  overflow: hidden;
  outline: 5px solid #fff;
  outline-offset: -25px ;
}

.title{
background-color: #1f1629;
width: 200px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
align-self: center;
color: #fff;
font-size: 25px;
font-family:'Noto Serif', serif;
}

.flex{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  transform: skewY(3deg);
  padding-top: 20px;
}

.flex1{
  width:70%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  position: absolute;
  transform: skewY(3deg);
  padding-top: 20px;
}

.row{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row1{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.row2{
  width: 90%;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.b1 {
  width: 100%;
  height: 300px;
  background-color: #1f1629;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  fill: #1f1629;
}

.b2 {
  width: 100%;
  height: 250px;
  transform: skewY(-2deg);
  background-color: rgb(239, 233, 221);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.b3 {
  transform: skewY(-2deg);
  width: 100%;
  height: 250px;
  background-color: #1f1629;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.b4 {
  background-color: rgb(243,204,209);
  width: 100%;
  height: 250px;
  transform: skewY(-2deg);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.b5 {
  width: 100%;
  height: 250px;
  transform: skewY(-2deg);
  background-color: rgb(242,163,182);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.img {
  height: 250px;
  width: 100%;
  object-fit: fill;
  opacity: 0.3;
}

.img1{
  height: 250px;
  width: 100%;
  object-fit: fill;
  opacity: 0.3;
}

.t1 {
  font-family:'Monsieur La Doulaise', cursive; 
  font-size: 80px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  line-height: 50px;
}

.t2 {
  font-family:'Noto Serif', serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  letter-spacing: 15px;
}

.t3 {
  font-family:'Monsieur La Doulaise', cursive; 
  font-size: 80px;
  color: rgb(0, 0, 0);
  font-weight: 400;
  line-height: 50px;
}

.t4 {
  font-family:'Noto Serif', serif;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  line-height: 30px;
}

.t5 {
  font-family:'Noto Serif', serif;
  font-size: 12px;
  width: 400px;
  color: #000;
  margin: 10px 0px;
} 


